h1{
    
    background: #ffff33;
    color: #cc0000;
    margin: auto;
    
}

h2{
    
    background: #99ff99;
    color:  #9999ff;
    margin: auto;
    
}

h3{
    
    background: #99ffcc;
    color: #ffcccc;
    margin: auto;
    
}
