h1{
    
    background: #00cc66;
    color: #330033;
    margin: auto;
    
}

h2{
    
    background: brown;
    color:  darkgreen;
    margin: auto;
    
}

h3{
    
    background: #666666;
    color: #009999;
    margin: auto;
    
}
